# Backend
portfolio-backend/.env
portfolio-backend/__pycache__/
portfolio-backend/**/__pycache__/
portfolio-backend/*.pyc
portfolio-backend/db.sqlite3
portfolio-backend/media/
portfolio-backend/staticfiles/
portfolio-backend/emails/

# Frontend
portfolio-angular/node_modules/
portfolio-angular/dist/

# Général
*.log
.venv/
venv/
.env
.DS_Store
